* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body > header {
    background-color: #2f3640;
    padding: 1rem 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
}

header li a {
    color: #f5f6fa;
    font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.container h2 {
    font-size: 2rem;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#technology {
    background-color: rgba(138, 43, 226, 0.5);
}

#car {
    background-color: rgba(226, 43, 43, 0.7);
}


#economy .articles article a {
    background-color: #ff9f1a;
}

#technology .articles article a {
    background-color: blueviolet;
}

#car .articles article a {
    background-color: red;
}



section {
    padding: 1rem 0;
}

section h2, .articles article {
    margin-bottom: 1rem;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;

}


.articles article img {
   width: 100%;
}

.articles article h3 {
    margin-top: .5rem;
    margin-bottom:.5rem;
    font-size: 1.5rem;
}

.articles article a {
    padding: .5rem;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: .5rem;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

